/* reset */
body{
    font-family: "verdana", "微软雅黑";
}
/* Customize container */
@media (min-width: 48em) {
    .container {
      max-width: 56rem;
      padding:0px;
    }
    .container .row{
        width:100%;
        margin: 0px;
    }
}
/* header部分 */
header{
    margin-bottom: 10px;
    text-align: center;
    padding:7px;
}
/* 主体container部分 */
/* 左边导航条 */

#collapse1,#collapse2,#collapse3,#collapse4{
    font-size: 15px;
    padding-top:0px;
}
.col-sm-9 .row{
    display: flex;
    justify-content: space-around;
}
.row .col-sm-3{
    display: flex;
    justify-content: center;
}
form {
    display: flex;
}
#chooseStaticWay{
    display: block;
    float:left;
    margin-top:5px;
}
#input-group-year{
    width:150px;
    margin:0 0 0 10px;
    float:left;
}
#input-group-month{
    width:150px;
    margin:0 0 0 10px;
    float:left;
}
#input-group-season{
    width:150px;
    margin:0 0 0 10px;
    float:left;
}
#imgAOD {
    margin-left: 10px;
   margin-top:10px;
   width:100%;
   height: 32rem;   
}
#aodTable{
    display: block;
    width:100%;
    height: 50%;
    text-align: cemter;
}
#aodLongTerm{
    width:100%;
    height: 50%;
}
#longMap{
    width:100%;
}
/* 画图区域 */
#siteCoorInput{
    display: none;
}
/* #line-chart{
    width:500px;
    height:200px;
} */