/* reset */
body{
    font-family: "verdana", "微软雅黑";
}
/* Customize container */
@media (min-width: 48em) {
    .container {
      
    }
}
/* header部分 */
.header {
    background-color: #312f2f;
}
header{
    margin-bottom: 0.8rem;
    padding:1rem;    
}
header h2{
    margin-left:5%;
    margin-top:2%;
}
.headerChoose {
    margin-left:5%;
    margin-top:2rem;
}
.headerChoose .dropdown{
    float:left;
    margin-right: 30px;
}
.divider hr{
    color: black;
    margin: 0 29px 0 0;
    border-right: 1px solid white;
    height: 100%;
}
.input-group{
    border-color:red;
    border-radius:1rem; 
    padding:0 0 0 0.5rem;
    width:10rem;
    height: 2rem;
    margin: 0px;
    background-color: white;
    float:left;
    margin-right:2rem;
}
.input-group input{
    border:0rem;
}
.dropdown-toggle::after{
    display: none;
} 
.input-group-btn{
    font-size: 1.5rem;
    line-height: 8px;
    margin: 0;
}
.input-group-btn button{
    border-radius:1rem;
    padding-top:2px;
}
.input-group-btn button span {
    font-size:1.6rem;
}
.input-group-btn .dropdown-menu a{
    margin-bottom:0.5rem;

}

/* 主体container部分 */
/* 全国和重点区域aod图，表格 */
.AODMaps{
    margin-left:4rem;
}

#aodTable{
    display: block;
    margin-top:2rem;
    text-align: center;
}

/* 折线图、柱状图 */
#polyLineForm{
    padding:0 0 0 4rem;
}
#polyLineForm form .row{
    margin-left:0;
    margin-bottom: 0.5rem;
    
}
/*站点名称输入框*/
#siteNameInput{
    width:60%;
    padding: 0;
}

#input-site{
    padding-left:2rem;
   
}
/*站点经纬度输入框*/
#siteCoorInput .form-group{
    padding-left:0;
    padding-right: 0;
    margin-bottom: 0;
}
#siteCoorInput .form-group input{
    width:50%;
   
}
#choosePeriod input{
    width:17%;
}
/* #line-chart{
    width:500px;
    height:200px;
} */